@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 14px;
    @screen sm {
      font-size: 16px;
    }
  }

  :root {
    --btn-text-case: none;
  }

  kbd {
    @apply kbd kbd-sm align-text-bottom;
  }

  code {
    @apply px-1 py-0.5 text-base text-gray-800 bg-gray-100 align-text-bottom rounded;
  }

  var {
    @apply badge badge-outline badge-lg text-gray-600 not-italic font-normal align-text-bottom;
  }

  ul {
    @apply list-disc ml-4;
  }

  ol {
    @apply list-decimal ml-4;
  }

  li {
    @apply mt-2;
    &::marker {
      @apply text-gray-400;
    }
    &:first-child {
      @apply mt-0;
    }
  }
}

@layer components {
  .animation-enter {
    animation: enter 1000ms backwards;
  }

  .animation-enter-platform {
    animation: enter-platform 1000ms backwards;
  }

  .animation-fade-in {
    animation: fade-in 1000ms backwards;
  }

  @keyframes enter {
    from {
      transform: translate(0, -100%);
      opacity: 0;
    }
    to {
      transform: translate(0, 0);
      opacity: 1;
    }
  }

  @keyframes enter-platform {
    from {
      transform: translate(0, 2rem);
      opacity: 0;
    }
    to {
      transform: translate(0, 0);
      opacity: 1;
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.btn-main {
  @apply btn btn-md md:btn-lg btn-primary text-lg sm:text-base md:text-lg shadow-md;
  img {
    @apply w-5 md:w-7 mr-2 md:mr-3;
  }
}

.enter-lazy {
  @apply animation-enter animation-delay-100 animation-paused;
}

.animation-platform-running a {
  @apply animation-running !important;
}

.windows-key {
  @apply w-6;
  padding-right: 0.3rem;
  img {
    @apply my-0 filter invert !important;
  }
}

#container {
  @apply absolute inset-0 overflow-x-hidden overflow-y-scroll;
  perspective: 1rem;
}

#hero {
  @apply hero min-h-screen relative text-neutral-content;
  #background {
    @apply absolute -inset-4 animation-fade-in;
    z-index: -1;
    transform: translateZ(-0.8rem) scale(1.8);
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./assets/background.png");
  }
  #foreground {
    @apply flex-col hero-content px-8 py-16 w-full max-w-6xl lg:flex-row-reverse;
    > img {
      @apply mb-6 lg:mb-0 lg:ml-4 rounded-lg shadow-2xl animation-fade-in animation-delay-500;
    }
    h1 {
      @apply text-3xl md:text-4xl lg:text-5xl xl:text-6xl font-bold whitespace-nowrap animation-enter animation-delay-150;
    }
    p {
      @apply my-4 md:my-6 lg:my-8 text-lg md:text-xl lg:text-2xl xl:text-3xl whitespace-nowrap leading-snug animation-enter animation-delay-400;
    }
    .btn-group {
      @apply animation-enter animation-delay-650;
      #btn-more {
        @apply px-2 md:px-3;
        > img {
          @apply w-3 md:w-4 mr-0;
        }
        &:before,
        &:after {
          @apply md:text-base z-10;
          --tooltip-tail: 0.4rem;
          --tooltip-tail-offset: calc(100% - 0.2rem);
          --tooltip-offset: calc(100% + 0.6rem - 1px);
        }
      }
    }
    #rime-outer {
      @apply animation-enter animation-delay-900;
      #btn-rime {
        @apply btn glass btn-sm mt-4 md:mt-6 bg-none hover:bg-none bg-white hover:bg-white bg-opacity-10 hover:bg-opacity-20 md:text-lg md:px-5 md:h-10;
      }
    }
  }
}

section:not(#hero) {
  @apply py-16 lg:py-24;
  > div {
    @apply px-12 py-4 lg:py-12 max-w-6xl mx-auto text-center;
    h2 {
      @apply text-4xl lg:text-5xl font-semibold;
    }
    h3 {
      @apply mt-8 text-2xl font-normal;
    }
    p {
      @apply mt-8 text-xl font-light;
    }
  }
}

#platforms {
  @apply flex flex-wrap justify-center mt-16 gap-4;
  a {
    flex: 0 0 14.4rem;
    @screen lg {
      flex-basis: 16rem;
    }
    @apply btn btn-primary card shadow-xl h-auto animation-enter-platform animation-paused;
    > div {
      @apply card-body mx-auto pt-7 pb-6 lg:py-8;
      img {
        @apply h-20;
      }
      h4 {
        @apply card-title text-2xl lg:text-3xl mt-4;
      }
      p {
        @apply mt-0 text-lg lg:text-xl font-light;
      }
    }
  }
}

#faq {
  > ul,
  > ol {
    @apply mt-8 ml-8 text-2xl font-light;
    > li {
      @apply mt-0;
    }
    ul,
    ol {
      @apply mt-8 text-xl font-light;
    }
  }
}

.tabbed {
  @apply mt-6;
  > input {
    @apply hidden;
  }
  .tabs {
    @apply mx-6 font-normal;
    > label {
      @apply tab tab-lg tab-lifted;
    }
  }
  .tab-content {
    border-radius: var(--tab-radius, 0.5rem);
    border: var(--tab-border, 1px) solid hsla(var(--border-color, var(--b3)) / var(--tw-border-opacity, 1));
    @apply p-8 relative bottom-px bg-base-100;
    > div {
      @apply hidden;
      p,
      ul,
      ol {
        @apply mt-4 !important;
      }
      > :first-child {
        @apply mt-0 !important;
      }
      img {
        @apply my-6;
      }
    }
  }
}

.tabbed > input:nth-child(1):checked ~ .tabs > label:nth-child(1),
.tabbed > input:nth-child(2):checked ~ .tabs > label:nth-child(2),
.tabbed > input:nth-child(3):checked ~ .tabs > label:nth-child(3),
.tabbed > input:nth-child(4):checked ~ .tabs > label:nth-child(4),
.tabbed > input:nth-child(5):checked ~ .tabs > label:nth-child(5) {
  @apply tab-active-copy;
}

.tabbed > input:nth-child(1):checked ~ .tab-content > div:nth-child(1),
.tabbed > input:nth-child(2):checked ~ .tab-content > div:nth-child(2),
.tabbed > input:nth-child(3):checked ~ .tab-content > div:nth-child(3),
.tabbed > input:nth-child(4):checked ~ .tab-content > div:nth-child(4),
.tabbed > input:nth-child(5):checked ~ .tab-content > div:nth-child(5) {
  @apply block;
}

/*
 * tab-active-copy
 * copied tab-active class from daisyui
 * due to css compiling issues
 */
@layer components {
  .tab-active-copy {
    --tw-border-opacity: 1;
    --tw-text-opacity: 1;
    --tw-bg-opacity: 1;
    z-index: 1;
    color: hsla(var(--bc) / var(--tw-text-opacity, 1));
    background-color: hsla(var(--b1) / var(--tw-bg-opacity, 1));
    border-width: var(--tab-border, 1px);
    border-bottom-width: 0;
    border-color: hsla(var(--border-color, var(--b3)) / var(--tw-border-opacity, 1));
    padding: calc(var(--tab-padding, 1rem) - var(--tab-border, 1px));
    padding-bottom: var(--tab-border, 1px);
    padding-top: 0;
    &:before,
    &:after {
      z-index: 1;
      content: "";
      display: block;
      position: absolute;
      width: var(--tab-radius, 0.5rem);
      height: var(--tab-radius, 0.5rem);
      bottom: 0;
      --tab-grad: calc(68% - var(--tab-border, 1px));
      --tab-corner-bg: radial-gradient(
        circle at var(--circle-pos),
        transparent var(--tab-grad),
        hsla(var(--border-color, var(--b3)) / var(--tw-border-opacity, 1)) calc(var(--tab-grad) + 0.3px),
        hsla(var(--border-color, var(--b3)) / var(--tw-border-opacity, 1))
          calc(var(--tab-grad) + var(--tab-border, 1px)),
        hsla(var(--b1) / var(--tw-border-opacity, 1)) calc(var(--tab-grad) + var(--tab-border, 1px) + 0.3px)
      );
      background-image: var(--tab-corner-bg);
    }
    &:before {
      left: calc(var(--tab-radius, 0.5rem) * -1);
      --circle-pos: top left;
    }
    &:after {
      right: calc(var(--tab-radius, 0.5rem) * -1);
      --circle-pos: top right;
    }
  }
}
